.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
python-flask-app/tmp/*.csv
python-flask-app/tmp/*.png
python-flask-app/__pycache__/
**/*.tif
src/Hello,.txt
